.Rproj.user
.Rhistory
.RData
.Ruserdata
*.cpg
*.dbf
*.prj
*.sbn
data/base/STRUCTURES_POLY.sbx
data/base/STRUCTURES_POLY.shp
data/base/STRUCTURES_POLY.shp.xml
data/base/STRUCTURES_POLY.shx
data/processed/rooftops.rds
blkgrp_to_TAZ_2020Update.html
blkgrp_to_TAZ_2020Update.rmarkdown
blkgrp_to_TAZ_2020Update.html
blkgrp_to_TAZ_2020Update.html
